.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #87cefa ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trans td {
    border: 1px solid grey;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0.2em;
}

table {
  margin-bottom: 50px;
}

p {
  margin: 0.5em 0;
}

button {
  margin-top: 15px;
  color: black;
}
